fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9
langchain==0.1.5
langchain-community==0.1.7
langchain-openai==0.0.5
langchain-text-splitters==0.0.1
langchain-chroma==0.0.1
langchain-core==0.1.13
langchain-huggingface==0.0.1
chromadb==0.4.22
pydantic==2.5.3
PyPDF2==3.0.1
unstructured==0.11.2
python-jose==3.3.0
beautifulsoup4==4.12.2
qdrant-client==1.7.0
pymupdf==1.23.21
sentence-transformers==2.2.2
docx2txt==0.8 